<div style="margin-top: 2%;">
    <img src="assets/docs/P1.jpg" class="rounded float-left" alt="..." style="width: 25%;">
    <img src="assets/docs/S1.jfif" class="rounded float-right" alt="..." style="width: 25%;">
    <img src="assets/docs/P2.jfif" class="rounded mx-auto d-block" alt="..." style="width: 25%;">
    <br/>
    <img src="assets/docs/S2.jpg" class="rounded float-left" alt="..." style="width: 25%;">
    <img src="assets/docs/P3.jpg" class="rounded float-right" alt="..." style="width: 25%;">
    <img src="assets/docs/S3.jpg" class="rounded mx-auto d-block" alt="..." style="width: 25%;">
</div>