<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Titol</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let practica of practiques; let i=index">
                <td>{{practica.titol}}</td>
                <td>{{practica.dataexercici}}</td>
                <td><button type="button" class="btn btn-primary" (click)="veureDetalls(i)" data-toggle="modal" data-target="#practicaDetallsModal">Veure detalls</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- practica Detalls Modal -->
<div class="modal fade" id="practicaDetallsModal" tabindex="-1" aria-labelledby="practicaDetallsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="practicaDetallsModalLabel">{{ practicaDetalls.titol }}</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modaltype">{{practicaDetalls.contingut}}</p>
            </div>
            <div class="modal-body">
                <h6 class="modaltype">{{practicaDetalls.tag}}</h6>
            </div>
            <div class="modal-body">
                <h6 class="modaltype">{{practicaDetalls.dataexercici}}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>